<footer class="text-muted">
    <div class="container">
      <p class="float-right">
        <a href="https://getbootstrap.com/docs/4.0/examples/album/#">Back to top</a>
      </p>
      <p>Album example is © Bootstrap, but please download and customize it for yourself!</p>
      <p>New to Bootstrap? <a href="https://getbootstrap.com/docs/4.0/">Visit the homepage</a> or read our <a href="https://getbootstrap.com/docs/4.0/getting-started/">getting started guide</a>.</p>
    </div>
  </footer>