<app-header title="Album" ></app-header>

<button (click)="toggleShowCards()" >Mostrar u Ocultar Cards</button>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">{{ lastAlbum.description }}</h1>
      <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
      <p>
        <a href="https://getbootstrap.com/docs/4.0/examples/album/#" class="btn btn-primary my-2">Main call to action</a>
        <a href="https://getbootstrap.com/docs/4.0/examples/album/#" class="btn btn-secondary my-2">Secondary action</a>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <ng-container *ngIf="showCards">
          <div *ngFor="let album of albums" class="col-md-4">
            <app-card
              [backgroundColor]="album.backgroundColor"
              [description]="addText(album.description)"
              [options]="album.options"
              (cardHandlerButton)="log($event)"
            ></app-card>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

</main>

<app-footer></app-footer>